@{
    var db = Database.Open("WebPagesEscritorio");
    var selectCommand = "SELECT * FROM Escritorio";
    var searchTerm = "";

    if (!Request.QueryString["search"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Escritorio WHERE Name LIKE @0 OR Material LIKE @0";
        searchTerm = "%" + Request["search"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 10);
}
<!DOCTYPE html>
<html>
<head>
    <title>Mega Escritorio</title>
    @RenderPage("_header.cshtml");
</head>
<body>
<form method="get">
    <div>
        <label for="search">Search by item name or material in verse:</label>
        <input type="text" name="search" value="@Request.QueryString["search"]" />
        <input class="btnSearch" type="Submit" value="Search" /><br />
        (Leave blank to list all items)<br />
    </div>
</form>
<div class="data">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/MegaEscritorio_Edit.cshtml?id=@item.ID">Edit</a>),
            grid.Column("Name", header: "Customer Name"),
            grid.Column("Length"),
            grid.Column("Width"),
            grid.Column("Drawers"),
            grid.Column("Material"),
            grid.Column("Days", header: "Rush Days"),
            grid.Column("Date", header: "Order Date"),
            grid.Column("Total", header: "Total Cost"),
            grid.Column(format: @<a href="~/MegaEscritorio_Delete.cshtml?id=@item.ID">Delete</a>)
            )
        )
    <p><a class="btn btn-primary" href="MegaEscritorio_Add.cshtml">Add Desk</a></p>
</div>
</body>
</html>
